<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Bootstrap CSS -->
	<link href="assets/dist/css/bootstrap.min.css" rel="stylesheet">
	<title>Employees</title>
</head>

<body>

	<div class="container-fluid">
		<div class="row align-items-start mt-5">
			<div class="col">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-4 border-bottom">
					<h2>Quản lí user</h2>
				</div>
				<div class="table-responsive">
					<table class="table">
						{{#each user}}
						<thead class="table-dark">
							<tr>
								<th>Tên </th>
								<th>Email</th>
								<th>Mật khẩu</th>
								<th>Ngày đăng kí</th>
								<th>Cập nhật</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>{{this.name}}</td>
								<td>{{this.email}}</td>
								<td style="
										display:inline-block;
										white-space: nowrap;
										overflow: hidden;
										text-overflow: ellipsis;
										max-width: 30ch;">
									{{this.password}}
								</td>
								<td>
									{{this.now}}
								</td>
								<td>
									<a href="/cpanel/product/{{this._id}}/edit">Edit</a> &nbsp;
									<a onclick="confirmDelete('{{this._id}}')">Delete</a>
								</td>
							</tr>
						</tbody>
						{{/each}}
					</table>
				</div>
			</div>
			<div class="col justify-content-md-center">
				<div
					class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-2 mb-4 border-bottom">
					<h2>Thêm tài khoản admin</h2>
				</div>
				<form class="container " method="post" action="/cpanel/product" enctype="multipart/form-data">
					<div class="mb-3 row">
						<label for="name" class="col-sm-2 col-form-label">Tên</label>
						<div class="col-sm-5">
							<input type="text" min="0" max="100000" class="form-control" name="name" id="name">
						</div>
					</div>
					<div class="mb-3 row">
						<label for="name" class="col-sm-2 col-form-label">Tài khoản</label>
						<div class="col-sm-5">
							<input type="text" min="0" max="100000" class="form-control" name="email" id="email">
						</div>
					</div>

					<div class="mb-3 row">
						<label for="job" class="col-sm-2 col-form-label">Mật khẩu</label>
						<div class="col-sm-5">
							<input type="text" min="0" max="100000" class="form-control" name="password" id="password">
						</div>
					</div>
					<div class="mb-3 row">
						<label for="job" class="col-sm-2 col-form-label">Xác nhận mật khẩu</label>
						<div class="col-sm-5">
							<input type="text" min="0" max="100000" class="form-control" name="author" id="author">
						</div>
					</div>


					<div class="d-grid gap-2 d-md-flex justify-content-end mb-3 position-relative end-60">
						<button type="submit" class="btn btn-primary">Thêm tài khoản</button>
						<button type="button" class="btn btn-secondary">Reset</button>
					</div>
				</form>
			</div>
		</div>
	</div>


	<!-- Option 1: Bootstrap Bundle with Popper -->
	<script src="../../public/javascripts/bootstrap.bundle.min.js"
		integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
		crossorigin="anonymous"></script>
	<script src="../../public/javascripts/feather.min.js"></script>
	<script src="../../public/javascripts/main.js"></script>
</body>
<script>
	const confirmDelete = (id) => {
		console.log(id);
		const fetchAPI = async (url, option) => {
			const res = await fetch(url, option);
			return res.json();
		}
		const deleteUser = async (id) => {
			const url = `/cpanel/user/${id}/delete`;
			const option = {
				method: 'GET',
				headers: { 'Content-Type': 'application/json' }
			}
			try {
				const res = await fetchAPI(url, option);
				if (res.result) {
					swal("Thành công!", "Xóa sản phẩm thành công!", "success");
					setTimeout(() => {
						window.location.reload();
					}, 1000);
				} else {
					swal("Thất Bại!", "Xóa sản phẩm thất bại!", "error");
				}
			} catch (err) {
				console.log(err);
				swal("Thất Bại!", "Xóa sản phẩm thất bại!", "error");
			}
		}
		swal({
			title: "Xác nhận?",
			text: "Bạn có chắc chắn muốn xóa sản phẩm này không?",
			icon: "warning",
			buttons: true,
			dangerMode: true,
		})
			.then((willDelete) => {
				if (willDelete) {
					deleteUser(id)
				}
			});
	}

</script>

</html>